
html{
  height: 100%;
    box-sizing: border-box;
}
body{
  height: 100%;
  margin: 0;
  padding: 14px;
  text-align: center;
  background: #F5F5F5;
  font-family: 'Poppins', sans-serif;
}
h1{
  margin: 0;
}
p{
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
/*header*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header::before{
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  z-index: 2;
}
.header_boby{
  position: relative;
  display: flex;
  height: 72px;
  align-items: center;
}
.container{
  max-width: 992px;
  margin: 0 auto;
  padding: 0 14px;
}
.heder_list{
  display: none;
  gap: 31px;
  position: relative;
  z-index: 2;
}
.heder_list li{
  list-style: none;
}
.header_burger{
  display: block;
  position: relative;
  text-align: end;
  width: 33px;
  height: 19px;
  z-index: 3;
}
.heder_link{
  display: block;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: #263238;
  text-decoration: none;
  z-index: 3px;
}
.britlex-header{
  position: relative;
  align-items: start;
  font-size: 24px;
  margin-right: 186px;
  z-index: 3;
}
.lex{
  color: #939393;
}
.button-let’s-talk{
  display: none;
  width: 160px;
  height: 50px;
  border: 2px solid #263238;
  border-radius: 5px;
  margin-left: 31px;
}
main{
  padding: 36px;
}
/*
@media (max-width: 767px) {
  .header_burger{
    display: block;
    position: relative;
    width: 33px;
    height: 19px;
    z-index: 3;
  }
  .heder_menu{
    position: fixed;
    text-align: start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    padding-top: 141px;
  }
  .heder_list{
    display: block;
  }
}*/
адаптив
@media (min-width:320px){
  .britlex-header{
    margin-right: 362px;
  }
}
@media (min-width:575px){
  .britlex-header{
    margin-right: 571px;
  }
}
@media (min-width:768px){
  .britlex-header{
    margin-right: 167px;
  }
  .svg-menu{
    display: none;
  }
  .heder_list{
    display: flex;
  }
  .button-let’s-talk{
    display: block;
    z-index: 3;
  }
}
@media (min-width:992px){
  .header_boby{
    height: 70px;
    margin-top: 55px;
  }
  .britlex-header{
    margin-right: 236px;
  }  
  .button-let’s-talk{
    box-sizing: border-box;
    width: 312px;
    height: 70px;
  }
  .heder_list{
    gap: 50px;
  }
}
/*
//header
.britlex-header{
  z-index: 5;
}z-index: 20;
}
.header div{
  position: relative;
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: center;
}
.nav-menu{
  display: none;
  gap: 31px;
  position: relative;
  z-index: 2;
}
.link{
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #263238;
  text-decoration: none;
  margin-left: 39px;
}
.button-let’s-talk p{
  color: #000000;
  font-size: 18px;
  line-height: 27px;
}
//main
main{
  padding-top: 80px;
}
h1{
  font-size: 24px;
  text-align: center;
}
.Learn h1{
  margin-bottom: 20px;
}
.Learn>p{
  margin-bottom: 33px;
}
p{
  color: #8F95A5;
}
.button{
  border-radius: 5px;
}
.button-get_started{
  display: block;
  background: #263238;
  width: 289px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.button-p{
  color:#ffffff;
}
//Skills
.Skills{
  margin-bottom: 32px;
}
.Skills-ul{
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 50px;
}
.SWRL{
  width: 290px;
  max-height: 600px;
  min-height: 473px;
  padding: 13px;
  background: #E5E5E5;
  border-radius: 5px;
  margin: 0 auto;
}
.button-learn_more{
  background: #263238;
  padding: 14px 43px;
  margin-left: 3px;
}
//About Us
.About>svg{
  margin-bottom: 23px;
}
.pupils{
  color: #2A3246;
}
//Pricing
.Pricing{
  text-align: center;
}
.button-price{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 37px;
  border: 0;
  background: #EEEEEE;
  border-radius: 5px;
  margin: 0 auto;
}
.price{
  font-size: 18px;
  color: #263238;
}
//Contact Us
.button-E-mail{
  display: block;
  margin: 0 auto;
  border: 1px solid #8F95A5;
  border-radius: 5px;
  color: #8F95A5;
  width: 291px;
  height: 50px;
  padding-left:  41px;
  text-align: left;
  margin-bottom: 17px;
}
.button-Subscribe{
  display: block;
  margin: 0 auto;
  width: 290px;
  height: 60px;
  background: #263238;
  margin-bottom: 55px;
}
//footer
footer{
  border-top: solid 1px #C4C4C4;
}
.britlex-footer{
  margin: 0 auto;
}
.p-footer{
  text-align: center;
  font-size: 11px;
}
.britlex{
  font-size: 24px;
  width: */

