
html{
  height: 100%;
    box-sizing: border-box;
}
body{
  height: 100%;
  margin: 0;
  padding: 14px;
  text-align: center;
  background: #F5F5F5;
  font-family: 'Poppins', sans-serif;
}
h1{
  margin: 0;
}
p{
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
/*header*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header::before{
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  z-index: 2;
}
.header_boby{
  position: relative;
  display: flex;
  min-height: 36px;
  margin: 36px 15px 0 14px;
  align-items: center;
}
.container{
  max-width: 320px;
  align-items: center;
  margin: 0 auto;
}
.heder_list{
  display: none;
  gap: 31px;
  width: 414px;
  position: relative;
  z-index: 2;
}
.heder_list li{
  list-style: none;
  font-weight: 500;
}
.header_burger{
  display: block;
  position: relative;
  text-align: end;
  width: 33px;
  height: 19px;
  z-index: 3;
}
.svg-menu{
  width: 100%;
  height: 100%;
}
.heder_link{
  display: block;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: #263238;
  text-decoration: none;
  z-index: 3px;
}
.britlex-header{
  position: relative;
  align-items: start;
  font-size: 24px;
  line-height: 36px;
  margin-right: auto;
  z-index: 3;
}
.lex{
  color: #939393;
}
.button-let’s-talk{
  display: none;
  min-width: 160px;
  min-height: 50px;
  border: 2px solid #263238;
  background: #F5F5F5;
  border-radius: 5px;
  margin-left: 100px;
}
main{
  padding: 36px;
}





@media (min-width:575px){
  .container{
    max-width: 494px;
  }
  .britlex-header{
    font-size: 30px;
    line-height: 45px;
  }
  .header_burger{
    width: 42px;
    height: 45px;
  }
  .header_boby{
    min-height: 45px;
    margin: 39px 49px 0 32px;
  }
}
@media (min-width:768px){
  .header_burger{
    width: 30px;
    height: 17px;
  }
  .container{
    max-width: 690px;
    margin: 0 auto;
  }
  .britlex-header{
    font-size: 30px;
    line-height: 45px;
  }
  .header_boby{
    margin: 39px 0 0;
  }
}
@media (min-width:992px){
  .container{
    max-width: 930px;
  }
  .header_boby{
    height: 70px;
    margin: 0;
    margin-top: 25px;
  }
  .britlex-header{
    margin-right: 167px;
  }
  .svg-menu{
    display: none;
  }
  .header_burger{
    height: 0;
    width: 0;
  }
  .heder_list{
    display: flex;

  }
  .button-let’s-talk{
    font-size: 18px;
    line-height: 27px;
    display: block;
    z-index: 3;
  }
}
@media (min-width:1600px){
  .container{
    max-width: 1338px;
  }
  .header_boby{
    min-height: 70px;
    margin-top: 55px;
  }
  .britlex-header{
    margin-right: 236px;
    font-size: 36px;
    line-height: 54px;
  }  
  .button-let’s-talk{
    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;
    min-width: 312px;
    min-height: 70px;
    border-radius: 10px;
    margin-left: 121px;
  }
  .heder_menu{
    height: 30px;
  }
  .heder_list{
    gap: 50px;
    width: 563px;
  }
  .heder_link{
    font-size: 20px;
    line-height: 30px;
  }
}