
html{
  height: 100%;
  box-sizing: border-box;
}
body{
  height: 100%;
  margin: 0;
  text-align: center;
  background: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
p{
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  font-weight: 500;
}
button{
  padding: 0;
}
svg{
  display: block;
  margin: 0 auto;
}
/*header*/
.header{
  width: 100%;
  padding-top: 36px;
  margin-bottom: 29px;
}
.header_container{
  display: flex;
  max-width: 290px;
  align-items: center;
  margin: 0 auto;
}
.heder_list{
  display: none;
  gap: 31px;
  width: 414px;
  position: relative;
}
.header_burger{
  display: block;
  position: relative;
  text-align: end;
  width: 33px;
  height: 19px;
}
.header_button{
  background: #FFFFFF;
  border: 0;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.heder_link{
  display: block;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: #263238;
  text-decoration: none;
}
.britlex-header{
  position: relative;
  align-items: start;
  font-size: 24px;
  line-height: 36px;
  margin-right: auto;
}
.lex{
  color: #939393;
}
.button-let’s-talk{
  display: none;
  min-width: 160px;
  min-height: 50px;
  border: 2px solid #263238;
  background: #ffffff;
  border-radius: 5px;
  margin-left: 100px;
} 
/*modal*/
.modal-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal{
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px 15px;
}
.britlex-modal{
  position: relative;
  font-size: 24px;
  line-height: 36px;
  margin-right: 193px;
}
.modal_button{
  position: absolute;
  top: 25px;
  right: 7px;
  background: #ffffff;
  border: 0;
  width: 34px;
  height: 34px;
  padding: 0;
}
.modal_menu::before{
  content: "";
  position: absolute;
  left: 15px;
  top: 81px;
  height: 1px;
  width: 95%;
  background-color: #c4c4c4;
}
.modal_burger{
  display: block;
  margin: 0 auto;
  width: 17px;
  height: 17px;
}
.modal_menu{
  color: #263238;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px;
  margin-top: 69px;
  margin-bottom: 69px;
}
.modal_link{
  text-decoration: none;
  color: #263238;
}
.button-let’s-talk-modal{
  width: 291px;
  height: 65px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  border: 2px solid #263238;
  background: #ffffff;
  border-radius: 5px;
}
/*hero*/
.hero{
  margin-bottom: 53px;
}
.hero-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 299px;
  height: 563px;
}
.heroTitle{
  text-align: center;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 72px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
  z-index: 1;
}
.heroTitle::after {
  content: '';
  display: none;
  background-position: center;
}
.heroP{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  margin-bottom: 33px;
  width: 292px;
  height: 63px;
  color: #8F95A5;
}
.button-get-started{
  display: block;
  margin: 0 auto;
  width: 289px;
  height: 60px;
  background: #263238;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.hero-picture{
  margin: 0 auto;
  width: 299px;
  height: 299px;
}
/*Skills*/
.Skills{
  padding-bottom: 29px;
}
.skils-h2{
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  margin-bottom: 32px;
}
.skils-container{
  width: 290px;
  margin: 0 auto;
}
.skils-cart{
  text-align: left;
  border-radius: 5px;
}
.list-skills{
  display: grid;
  row-gap: 21px;
}
.skils-item{
  box-sizing: border-box;
  width: 290px;
  background: #F5F5F5;
  padding: 10px 16px 44px 13px;
  border-radius: 5px;
}
.skils-item > div{
  height: 100%;
  width: 100%;
}
.cart1{
  padding: 8px 16px 45px;
  height: 600px;
}
.skils-p2{
  margin-bottom: 20px;
}
.cart2{
  padding: 16px 13px 44px;
  height: 473px;
}
.cart2 .skils-p{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 25px;
}
.cart3{
  height: 473px;
}
.cart3 .skils-p{
  margin-bottom: 52px;
}
.cart4{
  height: 473px;
}
.cart4 .skils-p{
  margin-bottom: 75px;
}
.cart1svg{
  width: 213px;
  height: 213px;
}
.cart2svg{
  width: 204px;
  height: 204px;
}
.cart3svg{
  width: 236px;
  height: 157px;
}
.cart4svg{
  width: 232px;
  height: 154px;
}
.skils-item h3{
  font-weight: 600;
  font-size: 18px;
  line-height: 80px;
}
.skils-p{
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #8F95A5;
}
.button-Learn-more{
  width: 178px;
  height: 50px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border: 0;
  background: #263238;
  border-radius: 5px;
}
/*адаптив*/
@media (min-width:575px){
  .header_container{
    max-width: 494px;
  }
  .britlex-header{
    font-size: 30px;
    line-height: 45px;
  }
  .header_burger{
    width: 42px;
    height: 45px;
  }
  .header{
    min-height: 45px;
    padding-top: 39px;
  }
  .modal{
    padding-top: 48px;
    padding-left: 33px;
  }
  .britlex-modal{
    margin-right: 391px;
    font-size: 30px;
    line-height: 45px;
  }
  .modal_button{
    top: 54px;
    right: 23px;
    width: 39px;
    height: 39px;
  }
  .modal_burger{
    width: 19px;
    height: 19px;
  }
  .modal_menu::before{
    width: 92%;
    left: 33px;
    top: 137px;
  }
  .modal_menu{
    margin-top: 80px;
    font-size: 24px;
    line-height: 65px;
    margin-bottom: 80px;
  }
  .button-let’s-talk-modal{
    width: 330px;
    height: 70px;
    font-size: 22px;
    line-height: 33px; 
  }
  .hero{
    margin-bottom: 96px;
  }
  .hero-container{
    width: 491px;
    height: 672px;
  }
  .hero-picture{
    width: 424px;
    height: 424px;
  }
  .heroTitle{
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    width: 491px;
    height: 45px;
    margin-bottom: 26px;
  }
  .heroP{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 486px;
    height: 48px;
    margin-bottom: 37px;
  }
  .button-get-started{
    width: 305px;
    height: 75px;
    font-size: 18px;
    line-height: 27px;
  }
  .skils-container{
    width: 534px;
  }
  .list-skills{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 34px;
    column-gap: 30px;
  }
  .skils-item{
    width: 240px;
  }
  .skils-h2{
    font-size: 30px;
    line-height: 80px;
    margin-bottom: 13px;
  }
  .skils-cart{
    height: 534px;
  }
  .cart1{
    padding: 0px 25px 35px 15px;
    height: 100%;
  }
  .cart1 .skils-p2{
    margin-bottom: 24px;
  }
  .cart2{
    padding: 5px 24px 36px 16px;
    height: 100%;
  }
  .cart2 .skils-p{
    margin-bottom: 115px;
  }
  .cart3{
    padding: 30px 25px 36px 15px;
    height: 100%;
  }
  .cart3 .skils-p {
    margin-bottom: 159px;
  }
  .cart4{
    padding: 38px 5px 36px 16px;
    height: 100%;
  }
  .cart4 .skils-p{
    margin-bottom: 147px;
  }
  .skils-p{
    font-size: 12px;
    line-height: 18px;
  }
  .cart1svg{
    width: 185px;
    height: 185px;
  }
  .cart2svg{
    width: 182px;
    height: 182px;
  }
  .cart3svg{
    width: 198px;
    height: 132px;
  }
  .cart4svg{
    width: 206px;
    height: 137px;
  }
  .button-Learn-more{
    width: 200px;
    height: 50px;  
  }
}
@media (min-width:768px){
  .header_burger{
    width: 30px;
    height: 17px;
  }
  .header_container{
    max-width: 690px;
    margin: 0 auto;
  }
  .britlex-header{
    font-size: 30px;
    line-height: 45px;
  }
  .header{
    padding-top: 39px;
  }
  .modal-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 34, 47, 0.7);
  }
  .modal{
    width: 429px;
    padding-top: 39px;
    padding-left: 39px;
  }
  .britlex-modal{
    margin-right: 247px;
    font-size: 30px;
    line-height: 45px;
  }
  .modal_button{
    position: absolute;
    top: 22px;
    width: 39px;
    height: 39px;
  }
  .modal_menu::before{
    left: 39px;
    top: 105px;
  }
  .modal_menu{
    margin-top: 57px;
    font-size: 22px;
    line-height: 60px;
    margin-bottom: 62px;
  }
  .modal_menu::before{
    width: 87%;
  }
  .button-let’s-talk-modal{
    width: 210px;
    height: 60px;
    font-size: 18px;
    line-height: 27px;
  }
  .hero{
    margin-bottom: 56px;
  }
  .hero-container{
    flex-direction: row-reverse;
    width: 712px;
    height: 357px;
  }
  .hero-picture{
    width: 352px;
    height: 352px;
  }
  .heroTitle::after{
    display: block;
    position: absolute;
    background-image: url(../images/lamp3.svg);
    top: 70px;
    left: 236px;
    width: 51px;
    height: 51px;
  }
  .heroTitle{
    margin: 0;
    margin-bottom: 25px;
    width: 217px;
    height: 135px;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-align: left;
  }
  .heroP{
    margin: 0;
    margin-bottom: 32px;
    width: 338px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .button-get-started{
    margin: 0;
    width: 236px;
    height: 65px;
    font-weight: 400;
  }
  .skils-container{
    width: 698px;
  }
  .list-skills{
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 442px 210px;
    grid-template-areas: "Speaking Writing Reading" "Speaking Listening Listening";
    gap: 10px;
  }
  .skils-item{
    padding: 0 10px;
  }
  .skils-h2{
    margin-bottom: 37px;
  }
  .skils-item h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 80px;
  }
  .skils-p{
    font-size: 13px;
    line-height: 20px;
  }
  .cart1{
    width: 224px;
    height: 662px;
    padding: 31px 10px 37px 17px;
    grid-area: Speaking;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .cart1 .skils-p2{
    margin-bottom: 55px;
  }
  .cart2{
    width: 227px;
    height: 441px;
    padding: 14px 20px 27px 16px;
    grid-area: Writing;
  }
  .cart2 .skils-h2{
    margin-top: -60px;
  }
  .cart2 .skils-p{
    margin: 0;
    margin-top: -10px;
    margin-bottom: 40px;
  }
  .cart2svg{
    margin-left: -13px;
    margin-bottom: -32px;
  }
  .cart3{
    width: 228px;
    height: 442px;
    padding: 34px 29px 28px 21px;
    grid-area: Reading;
  }
  .cart3 .skils-p {
    margin-top: -20px;
    margin-bottom: 48px;
  }
  .cart3svg{
    margin-bottom: -10px;
    margin-left: -20px;
  }
  .cart4{
    padding: 0 0 26px 21px;
    width: 462px;
    height: 210px;
    grid-area: Listening;
  }
  .cart4 div{
    margin-top: -3px;
  }
  .cart4 .skils-cart{
    display: flex;
    flex-direction: row-reverse;
  }
  .cart4 .skils-p{
    width: 259px;
    margin-top: -20px;
    margin-bottom: 10px;
  }
  .cart4svg{
    
    margin-top: 59px;
    width: 202px;
    height: 134px;
  }
  .button-Learn-more{
    width: 178px;
    height: 50px;
  }
}
@media (min-width:992px){
  .header_container{
    max-width: 930px;
  }
  .header{
    height: 70px;
    padding-top: 25px;
  }
  .britlex-header{
    margin-right: 167px;
  }
  .svg-menu{
    display: none;
  }
  .header_burger{
    height: 0;
    width: 0;
  }
  .heder_list{
    display: flex;
  }
  .button-let’s-talk{
    font-size: 18px;
    line-height: 27px;
    display: block;
  }
  .hero{
    margin-bottom: 72px;
  }
  .hero-container{
    width: 942px;
    height: 460px;
  }
  .hero-picture{
    width: 460px;
    height: 460px;
  }
  .heroTitle::after{
    background-image: url(../images/lamp2.svg);
    width: 59px;
    height: 59px;
    top: 110px;
    left: 307px;
  }
  .heroTitle{
    width: 290px;
    height: 192px;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 27px;
  }
  .heroP{
    width: 421px;
    height: 90px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 33px;
  }
  .button-get-started{
    width: 292px;
    height: 80px;
    font-size: 24px;
    line-height: 36px;
  }
  .skils-container{
    width: 934px;
  }
  .Skills{
    font-size: 36px;
  }
  .list-skills{
    grid-template-rows: 442px 241px;
    gap: 10px;
  }
  .skils-h2{
    font-size: 36px;
    margin-bottom: 53px;
  }
  .cart1{
    width: 303px;
    height: 696px;
  }
  .cart2{
    width: 302px;
    height: 441px;
  }
  .cart3{
    width: 304px;
    height: 442px;
  }
  .cart4{ 
    width: 616px;
    height: 241px;
  }
}
@media (min-width:1600px){
  .header_container{
    max-width: 1338px;
  }
  .header{
    min-height: 70px;
    padding-top: 55px;
  }
  .britlex-header{
    margin-right: 236px;
    font-size: 36px;
    line-height: 54px;
  }  
  .button-let’s-talk{
    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;
    min-width: 312px;
    min-height: 70px;
    border-radius: 10px;
    margin-left: 121px;
  }
  .heder_menu{
    height: 30px;
  }
  .heder_list{
    gap: 50px;
    width: 563px;
  }
  .heder_link{
    font-size: 20px;
    line-height: 30px;
  }
  .hero{
    margin-bottom: 180px;
  }
  .hero-container{
    width: 1338px;
    height: 548px;
  }
  .hero-picture{
    width: 654px;
    height: 510px;
  }
  .heroTitle::after{
    background-image: url(../images/lamp.svg);
    width: 86px;
    height: 86px;
    left: 400px;
    top: 120px;
  }
  .heroTitle{
    width: 386px;
    height: 240px;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 40px;
  }
  .heroP{
    width: 540px;
    height: 108px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 60px;
  }
  .button-get-started{
    width: 426px;
    height: 100px;
    font-size: 36px;
    line-height: 54px;
  }
  .skils-h2{
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 60px;
  }
  .skils-container{
    width: 1338px;
  }
  .list-skills{
    grid-template-rows: 579px 338px;
    gap: 10px;
  }
  .cart1{
    width: 426px;
    height: 947px;
  }
  .cart2{
    width: 426px;
    height: 579px;
  }
  .cart3{
    width: 426px;
    height: 579px;
  }
  .cart4{
    width: 882px;
    height: 338px;
  }
}